* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
}

body {
}

h1 {
  font-family: monospace;
  text-align: center;
  margin-bottom: 20px;
}

header,
main,
footer {
  width: 900px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #e9e9e9;
}

nav {
  width: 500px;
  margin: 0 auto;
  border-bottom: 2px solid black;
}

nav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-weight: 400;
    font-size: 15px;
}

nav > ul > li > a:hover {
    color: #999999
}

.grid1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.grid2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.grid2 img {
  width: 100%;
}
