@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
}

/* Body styles */
body {

}

/* Header styles */
header {
    
    width: 960px;
    margin: 0px auto;
    /* background-color: lightgray; */
    padding: 30px;
}

header h1{
    text-align: center;
}

/* Navigation styles */
nav {
    width: 960px;
    margin: 0 auto;
    padding: 30px;
    margin-left: -30px;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin: 0;
    padding: 0;
}


nav ul li {
    /* Navigation link styles inline block vs grid */
    /* 
    display: inline-block;
    margin-right: 10px; 
    */
}



nav a {
    
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

nav a:hover {
    color: gray;
}

/* Main content styles */
main {
    width: 960px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

section h2 {}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.grid1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


.item {
    background: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

.item img{
    display: block;
    margin: 0 auto;
}

/* Footer styles */
footer {
    width: 960px;
    margin: 0 auto; 
    text-align: center;
}
